body {
    text-align: center;
    background-color: darkslategray;
}

.hero{
  background-image: url("http://orig09.deviantart.net/fdce/f/2016/279/d/a/music_class_by_arsenixc-dak2elh.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 125px;
  margin: 0px;  
     
}

.genre{
   
    font-size: 3rem;
    color: gold;
    font-family: 'Patrick Hand Sc', sans-serif;
    font-style: italic;
    font-weight: bold;
}

h2{
   font-family: ubuntu, serif;
   font-size: 4rem;
   color: Brown;
   font-weight: bold;    
}

h1{
    font-family: ubuntu, serif;
    color: Cornsilk;
}


