body {
    text-align: center; 
}

.hero{
  background-image: url("http://orig11.deviantart.net/c944/f/2013/357/c/7/music_by_mikeinel-d6z3gy8.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 200px;
  margin: 30px;  
     
}

.genre{
   
    font-size: 3rem;
    color: gold;
}

h2{
  font-family: "Patrick Hand Sc", sans-serif;
   font-size: 4rem;
   color: OrangeRed;
   font-weight: bold;    
}


