body {
    text-align: center; 
}

.hero{
  background-image: url("http://orig11.deviantart.net/c944/f/2013/357/c/7/music_by_mikeinel-d6z3gy8.jpg");
  background-size: cover;
  padding: 500px;
  margin: 30px;  
     font-family: roboto, sans-serif;
}

.genre{
   
    font-size: 4rem;
    font-color: gold;
}

h2{
  
   font-size: 6rem;
   font-color: maroon;
   font-weight: bold;    
}
