.container {
  position: relative;
}

nav {
  position: absolute;
  left:0px;
  width: 200px;
  height:100%;
  border: solid gold 2px;
}

section{
  margin-left: 200px;
  border: solid green 2px;
  text-align: center;
  color: gold;
  margin-bottom: 20px;
}

p{
  background color: black;
  margin-bottom: 20px;
}


